.imagen{
	overflow-x:hidden; 
	background: url(../pictures/l.png);	
}
.ct{ 
	text-align:center;
font-family: Vivaldi;
}
img{ 
	width:100%;
}
.borde{

	border: 4px solid #BDBDBD;
}
body{
	background-color: #1C1C1C;
}
.color{
	color: black;

}